@tailwind utilities;

:root {
	  --primary-color: #ffff;
	  --second-color: #213170;
}

.deskItem1 {
	font-size: 19px;
	line-height: 25px;
}






@layer utilities {
	.text--2xl{
		font-size: clamp(1.125rem, 0.6563rem + 1.5vw, 1.5rem);
		line-height: 32px;

	}
	.text--lg{
		font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
	}

	.text--32{
		font-size: clamp(1.125rem, 0.0313rem + 3.5vw, 2rem);
	}
	.text--38{
		font-size: clamp(1.125rem, -0.4375rem + 5vw, 2.375rem);
	}

	.text--5xl{
		font-size: clamp(1rem, -1.5rem + 8vw, 3rem);
		
	}

	.text--7xl{
		font-size: clamp(1.25rem, -2.1875rem + 11vw, 4rem);
	}


	.Nav {
		font-weight: 600;
		padding: 24px 32px;
		background: white;
		text-align: center;
		border-radius: 40px;
	}
	.Nav:hover {
		background-color: rgb(197, 229, 255);
	}
	.active {
		background-color: rgb(197, 229, 255);
	}

	.item-1 {
		display: flex;
		flex-direction: column;
		padding: 48px;
		gap: 20px;
		background-color: white;
		border-radius: 40px;
		height: 600px;
		justify-content: space-between;
	}
	.item-1 p {
		background-color: inherit;
	}

	.item-1 :nth-child(1) {
		background-color: inherit;
	}

	.Button {
		display: flex;
		align-items: center;
		padding: 8px 24px;
		gap: 4px;
		width: max-content;
		border-radius: 40px;
		background-color: white;
		border: solid;
		border-width: 1px;
	}
	
	.Button:hover {
		transition: all;
		transition-delay: 20ms;
		background-color: #213170;
		color: white;
	}

	.Container1 {
		display: flex;
		flex-direction: column;
		gap: 16px;
		max-width: 1680px;
	}
	@media only screen and (min-width:1553px) {
		.Container1{
			width: 833px;
		}
		.item-2{
			width: 883px;
		}
	}

	.item-2 {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 32px;
		gap: 20px;
		background-color: white;
		border-radius: 40px;
		
	}
	.item-2 p {
		background-color: inherit;
	}

	.BOX {
		margin-top: 16px;
		width: 408px;
		padding: 32px;
		background-color: white;
		border-radius: 40px;
	}
	.BOX2 {
		max-height: 450px;
		width: 549px;
		padding: 32px;
		border-radius: 40px;
	}
	.BLOG {
		max-height: 450px;
		width: 549px;
		padding: 32px;
		border-radius: 40px;
	}

	.BLOG:hover{
		background-color: #213170;
		color: white;
	}
	.Tag{
		font-size: 1rem;
		padding: 4px 16px 4px 16px ;

		border: solid;
		border-width: 1px;
		border-radius: 24px;
		max-height: fit-content;
	}



}
