@tailwind utilities;


@layer utilities {
  .Nav{
    font-weight:600;
    padding: 15px 20px;
   background:white;
    text-align: center;
    border-radius: 40px;
  }
  .Nav:hover{
     background-color: rgb(197, 229, 255);
  }
  .active{
   background-color: rgb(197, 229, 255);  
  }

  .item-1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    width: 117vh;
  }
  .item-1 p {
    background-color: inherit;
  }
  .item-1 :nth-child(2){
    line-height: 28px;
  }

  .Button {
    display: flex;
    align-items: center;
    padding: 1px 15px;
    gap: 4px;
    width: max-content;
    border-radius: 20px;
  }

}
